{% extends "bulletinBoard/base_generic.html" %}

{% block content %}
  <h1>schulReddit</h1>
  <p>Welcome to schulReddit, a website developed by <em>HTTF</em>!</p>
  <h2>Dynamic content</h2>
  
  <form action="{% url 'add' %}" method="POST" role="form">
    {% csrf_token %}
    <div class="form-group">
      <div class="input-group">
        <!--<input type="text" class="form-control" placeholder="Enter Post!" aria-label="Post" aria-describedby="add-btn">-->
        {{ form.title }}
        {{ form.content }}
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" id="add-btn">Submit</button>
        </span>
      </div>
    </div>
  </form>

  <p>
    {% for p in post %}
      <h1>{{ p.title }}</h1>
      <p>{{ p.content }}</p>
      <p>{{ p.author }}</p>
    {% endfor %}
  </p>

{% endblock %}