{% extends "bulletinBoard/base_generic.html" %}


{% load crispy_forms_tags %}

{% block content%}
    <form action="" method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Register</button>
    </form>

    <p>Already have an account? Login <a href="/login">here!</a></p>
    <!-- Image-Credit -->
    <div class="image-credit">
        <p>Image Credit: <a href="https://pixabay.com">Pixabay</a></p>
    </div>
    <br>
{% endblock %}